.button {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: none;
  background-color: var(--item-background);
  color: white;
}

.button:hover,
.button:focus,
.button:focus-visible {
  background-color: var(--item-hover-background);
}

@media (min-width: 768px) {
  .button {
    width: 200px;
  }
}
